body {
  text-align: center;
  background-color: #222;
  color: #fff;
  font-family: sans-serif;
  margin: auto;
  padding-top: 1px;
  padding-bottom: 175px;
  background-image: url(pic_ob/DBbg2.jpg);
  
  background-size: cover;
}

html {
  background-color: rgb(0, 0, 0);
}

canvas {
  background: #eee;
  margin-top: 20px;
  border: 2px solid #444;
}
